body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: white;
  padding: 20px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #0000A0;
  padding: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.content {
  background-color: #EEEEEE;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: steelblue;
}
.rykLidtMere{
  margin-left: 2.5%;
}
.flyvVenstre{
  float:left;
}
.flyvVenstreMerePlads{
  float:left;
  margin-left: 9.5%;
}
.flyvMidt{
  float:none;
}
.whiteBackground{
  background-color: #FFF;
  height: 150px;
  width: 225px;
}
.flyvHøjre{
  float:right
}
.customBredde{
  width: 200px;
}
.textColor{
  color: #FFF;
}
.marginVenstre{
  margin-left: 10% !important;
}
.custBredde{
  width: 60px !important;
}
.nonTransparent{
    background-color: rgb(53, 53, 53);
    opacity: 0.95;
}
.nonTransparent2{
  
  opacity: 0.95;
}
.nonTransparent1{
  opacity: 0.8;
}
.lidtPlads{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.minNyeMargin{
  margin-left: 8%;
}
.center-fit {
  width: 100%;
  height: 100%;
  margin: auto;
 }
 .myMargin{
  margin-right: 6px !important;
 }
 .minMargin{
  padding-left: 65px !important;
 }
 .showsize{
 margin-left: 39px;
 width: 120px;
 }

.selecter{
background-color: darkgray;
}

.transparent{    
    background-color: rgba(0,0,0,0.15);
}

.panel{
    background-color: transparent;
    border: 1px #222;
}

body{
  background-image: url('./images/carbg.png');
  width: 100%;
  height: 100%;
  margin: auto;
}

.activeV2 {
  background-color: lightgoldenrodyellow;
}

.topic {
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}

.col-centered{
  float: none;
  margin: 0 auto;
}